<?php namespace {
exit('IDE META'); 
class Arr extends Kohana\Core\Arr {}
class Config_File_Reader extends Kohana\Core\Config_File_Reader {}
class Config_File extends Kohana\Core\Config_File {}
class Config_Group extends Kohana\Core\Config_Group {}
class Config_Reader extends Kohana\Core\Config_Reader {}
class Config_Source extends Kohana\Core\Config_Source {}
class Config_Writer extends Kohana\Core\Config_Writer {}
class Config extends Kohana\Core\Config {}
class Controller_Template extends Kohana\Core\Controller_Template {}
class Controller extends Kohana\Core\Controller {}
class Cookie extends Kohana\Core\Cookie {}
class Core extends Kohana\Core\Core {}
class Date extends Kohana\Core\Date {}
class Debug extends Kohana\Core\Debug {}
class Encrypt extends Kohana\Core\Encrypt {}
class Exception extends Kohana\Core\Exception {}
class Feed extends Kohana\Core\Feed {}
class File extends Kohana\Core\File {}
class Form extends Kohana\Core\Form {}
class Fragment extends Kohana\Core\Fragment {}
class HTML extends Kohana\Core\HTML {}
class HTTP_Exception_300 extends Kohana\Core\HTTP_Exception_300 {}
class HTTP_Exception_301 extends Kohana\Core\HTTP_Exception_301 {}
class HTTP_Exception_302 extends Kohana\Core\HTTP_Exception_302 {}
class HTTP_Exception_303 extends Kohana\Core\HTTP_Exception_303 {}
class HTTP_Exception_304 extends Kohana\Core\HTTP_Exception_304 {}
class HTTP_Exception_305 extends Kohana\Core\HTTP_Exception_305 {}
class HTTP_Exception_307 extends Kohana\Core\HTTP_Exception_307 {}
class HTTP_Exception_400 extends Kohana\Core\HTTP_Exception_400 {}
class HTTP_Exception_401 extends Kohana\Core\HTTP_Exception_401 {}
class HTTP_Exception_402 extends Kohana\Core\HTTP_Exception_402 {}
class HTTP_Exception_403 extends Kohana\Core\HTTP_Exception_403 {}
class HTTP_Exception_404 extends Kohana\Core\HTTP_Exception_404 {}
class HTTP_Exception_405 extends Kohana\Core\HTTP_Exception_405 {}
class HTTP_Exception_406 extends Kohana\Core\HTTP_Exception_406 {}
class HTTP_Exception_407 extends Kohana\Core\HTTP_Exception_407 {}
class HTTP_Exception_408 extends Kohana\Core\HTTP_Exception_408 {}
class HTTP_Exception_409 extends Kohana\Core\HTTP_Exception_409 {}
class HTTP_Exception_410 extends Kohana\Core\HTTP_Exception_410 {}
class HTTP_Exception_411 extends Kohana\Core\HTTP_Exception_411 {}
class HTTP_Exception_412 extends Kohana\Core\HTTP_Exception_412 {}
class HTTP_Exception_413 extends Kohana\Core\HTTP_Exception_413 {}
class HTTP_Exception_414 extends Kohana\Core\HTTP_Exception_414 {}
class HTTP_Exception_415 extends Kohana\Core\HTTP_Exception_415 {}
class HTTP_Exception_416 extends Kohana\Core\HTTP_Exception_416 {}
class HTTP_Exception_417 extends Kohana\Core\HTTP_Exception_417 {}
class HTTP_Exception_500 extends Kohana\Core\HTTP_Exception_500 {}
class HTTP_Exception_501 extends Kohana\Core\HTTP_Exception_501 {}
class HTTP_Exception_502 extends Kohana\Core\HTTP_Exception_502 {}
class HTTP_Exception_503 extends Kohana\Core\HTTP_Exception_503 {}
class HTTP_Exception_504 extends Kohana\Core\HTTP_Exception_504 {}
class HTTP_Exception_505 extends Kohana\Core\HTTP_Exception_505 {}
class HTTP_Exception_Expected extends Kohana\Core\HTTP_Exception_Expected {}
class HTTP_Exception_Redirect extends Kohana\Core\HTTP_Exception_Redirect {}
class HTTP_Exception extends Kohana\Core\HTTP_Exception {}
class HTTP_Header extends Kohana\Core\HTTP_Header {}
class HTTP_Message extends Kohana\Core\HTTP_Message {}
class HTTP_Request extends Kohana\Core\HTTP_Request {}
class HTTP_Response extends Kohana\Core\HTTP_Response {}
class HTTP extends Kohana\Core\HTTP {}
class I18n extends Kohana\Core\I18n {}
class Inflector extends Kohana\Core\Inflector {}
class Exception extends Kohana\Core\Exception {}
class Log_File extends Kohana\Core\Log_File {}
class Log_StdErr extends Kohana\Core\Log_StdErr {}
class Log_StdOut extends Kohana\Core\Log_StdOut {}
class Log_Syslog extends Kohana\Core\Log_Syslog {}
class Log_Writer extends Kohana\Core\Log_Writer {}
class Log extends Kohana\Core\Log {}
class Model extends Kohana\Core\Model {}
class Num extends Kohana\Core\Num {}
class Profiler extends Kohana\Core\Profiler {}
class Request_Client_Curl extends Kohana\Core\Request_Client_Curl {}
class Request_Client_External extends Kohana\Core\Request_Client_External {}
class Request_Client_HTTP extends Kohana\Core\Request_Client_HTTP {}
class Request_Client_Internal extends Kohana\Core\Request_Client_Internal {}
class Request_Client_Recursion_Exception extends Kohana\Core\Request_Client_Recursion_Exception {}
class Request_Client_Stream extends Kohana\Core\Request_Client_Stream {}
class Request_Client extends Kohana\Core\Request_Client {}
class Request_Exception extends Kohana\Core\Request_Exception {}
class Request extends Kohana\Core\Request {}
class Response extends Kohana\Core\Response {}
class Route extends Kohana\Core\Route {}
class Security extends Kohana\Core\Security {}
class Session_Cookie extends Kohana\Core\Session_Cookie {}
class Session_Exception extends Kohana\Core\Session_Exception {}
class Session_Native extends Kohana\Core\Session_Native {}
class Session extends Kohana\Core\Session {}
class Text extends Kohana\Core\Text {}
class Upload extends Kohana\Core\Upload {}
class URL extends Kohana\Core\URL {}
class UTF8_Exception extends Kohana\Core\UTF8_Exception {}
class UTF8 extends Kohana\Core\UTF8 {}
class Valid extends Kohana\Core\Valid {}
class Validation_Exception extends Kohana\Core\Validation_Exception {}
class Validation extends Kohana\Core\Validation {}
class View_Exception extends Kohana\Core\View_Exception {}
class View extends Kohana\Core\View {}
class Kohana extends Kohana\Core\Kohana {}
}